@import "bourbon/bourbon";
@import "neat/neat";
.music {
  border: 2px solid #333;
  margin: 1.6%;
  height: 180px;
  padding: 1%;
  background-color: #3a4625;
  color: white;
  border-radius: 3px;
  @include span-columns(2);
  text-align: center;
}
.drops {
  @include span-columns(6);
  border: 2px solid #333;
  border-radius: 3px;
  text-align: center;
  height: 210px;
  font-size: 40px;
  color: rgba(#ffffff, 0.52);
  padding-top: 2%;
}
#adding {
  background-color: floralwhite;
}
#deleting {
  background-color: bisque;
}
html {
  background-color: azure;
  font-family: Century Gothic, monospace;
  color: black;
}
body {
  @include outer-container;
}
h1 {
  
  text-align: center;
  font-size: 80px;
  color: #ffffff;
  margin-bottom: 2%;
  font-family: Century Gothic, monospace;
  color: cadetblue;
  text-shadow: 3px 0 black, 0 3px black, 3px 0 black, 3px 0 black;
  padding-bottom: 40px;
}
/*
h6 {
    font-size: 35pt;
    text-transform: uppercase;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, -1px 0 white;
}
*/
    #main {
    float:left;
    width:500px;
    margin-left: 50px;
    
    }
    #sidebar {
    float:right;
    width:500px;
    margin-right: 100px;
    margin-top: 50px;
   }


a {
    margin-left: 50px;
    background-color: cadetblue;
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    border-style: dotted;
    border-width: 5px;
    border-color: black;
}

#bottom {
    margin-top: 20px;
}

#fire {
    margin-top: 50px;
    margin-left: 100px;
    padding-bottom: 20px;
}